body {
  font-family: Arial, sans-serif;
  background-color: gray;
  margin: 0;
  padding: 20px;
}
h1 {
  text-align: center;
  color:black;
  text-shadow: 3px 4px red;
}
form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
}
input, button {
  padding: 8px 12px;
  font-size: 1rem;
}
button {
  background: #0975f1;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 2px 5px white;
  
}
button:hover {
  background: red;
}
ul {
  list-style: none;
  padding: 0;
  max-width: 400px;
  margin: 0 auto;
}
li {
  background: #fff;
  margin-bottom: 10px;
  padding: 12px;
  border-radius: 6px;
  box-shadow: 0 2px 6px #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.task-time {
  color: #555;
  font-size: 0.9rem;
  box-shadow: 5px 3px red;
}
input{

    box-shadow: 5px 8px  green;
}